body {
    background-color: linear-gradient(#f69d3c, #3f87a6);
}

.radial-gradient {
    background: radial-gradient(red, yellow, rgb(30, 144, 255));
}



nav {border-style: solid;
border-width: thick}

nav p {
  padding-left: 8px;
    
    font-size: 17px;
}


a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}


h1 {
    font-family: cursive;
    font-size: 40px
}


h2 {
    font-family: cursive;
    font-size: 25px;
}

h3 {
    font-family: sans-serif;
    font-size: 15px;
}




.center {

    display: flex;
    justify-content: center
}
